<p style="font-size: 84px; text-align: center; padding-top: 2em;">
  EUR <%= '%.2f' % @result %>
</p>
<p style="text-align: center;">
  <%= Time.now.day  %> -
  <%= Time.now.month  %> -
  <%= Time.now.year  %>  
</p>