<html>
<head>
  <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/u/158347/favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
  <title>Calculate</title>
</head>
<body>
  <div class="container">
    <header><small>v0.1 14-09-24</small></header>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>      
      </div> <!-- end 12 -->
    </div>
  </div>
</body>
